/*need styles to set starting colors, align div for main content, align header items*/
/*CSS for the header sets header items to be positioned on far left and right of container*/
Header {
    display: flex;
    justify-content: space-between;
}
.scores{
    color: darkviolet; /*sets color for scoreboard link*/
}

/*Code below adds flex styles to center the starting content on page load of the quiz-content container, an H1, p, and button element*/
.quiz-content{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.quiz-content h1, p{
    display: flex;
    width: 100%;
    justify-content: center;
}
.quiz-content button{  /*this adds color to the start button*/
    background-color: indigo;
    color: white;
}
